<div class="row">{{LoginUser.UserName}} Is Login to System.</div>
<div class="row">
  <div class="col-xs-8">
    <input type="text"
           ng-model="bookSearch"
           placeholder="search books">
  </div>
  <div class="col-xs-4">
    <button class="btn btn-default btn-block"
            type="button"
            ng-click="getBookList()">Search</button>
  </div>

</div>

<div class="row"
     ng-if="bookList.length >0">
  <div class="col-xs-12">
    <button ng-disabled="currentPage == 0"
            ng-click="currentPage=currentPage-1">
      Previous
    </button> {{currentPage+1}}/{{numberOfPages()}}
    <button ng-disabled="currentPage >= bookList.length/pageSize - 1"
            ng-click="currentPage=currentPage+1">
      Next
    </button>
  </div>
  <div class="col-xs-2"
       ng-class="{'clearBoth':$index%6===0}"
       ng-repeat="book in bookList | startFrom:currentPage*pageSize | limitTo:pageSize">
    <book-item item="book"> </book-item>
  </div>

</div>
<div class="row"
     ng-if="bookList.length >0">

</div>

<div id="bookAnimatedModal">
  <div class="row row-padding  clearMargin animationPadding">
    <div class="divFloatRight col-xs-6 nonPadding">
      <span class="phonebookDetailsTitle">
        {{bookDetails.volumeInfo.title}}
      </span>
    </div>
    <div class="divFloatLeft col-xs-6 nonPadding">
      <div class="close-bookAnimatedModal closebt-container widthAuto divFloatLeft"
           style="padding-right: 11px;">
        <img class="closebt"
             alt=""
             src="/src/Images/closeDetailsButton.png">
      </div>
    </div>
  </div>
  <div class="textCenter messageDivHeight orgAnimationMargin orgTopBorder">
    <div class="row row-padding nonPadding clearMargin orgBottomBorder"
         style="padding-top: 20px !important">
      <div class="row row-padding nonPadding clearMargin textLeft">
        <span class="PhoneBookContactTitle">Description:</span>
      </div>
      <div class="row row-padding nonPadding clearMargin textLeft">
        <span class="PhoneBookContactText">{{bookDetails.volumeInfo.description}}</span>
      </div>

    </div>
    <div class="row row-padding nonPadding clearMargin orgBottomBorder"
         style="padding-top: 20px !important">
      <div class="row row-padding nonPadding clearMargin textLeft">
        <span class="PhoneBookContactTitle">Authors:</span>
      </div>
      <div class="row row-padding nonPadding clearMargin textLeft">
        <span class="PhoneBookContactText">{{bookDetails.volumeInfo.authors[0]}}</span>
      </div>

    </div>
    <div class="row row-padding nonPadding clearMargin orgBottomBorder textLeft"
         style="padding-top: 20px !important">
      <div class="row row-padding nonPadding clearMargin textLeft">
        <span class="PhoneBookContactTitle">Published Date:</span>
      </div>
      <div class="row row-padding nonPadding clearMargin">
        <span style="margin-left: 5px; display: inline-block"
              class="PhoneBookContactText">{{bookDetails.volumeInfo.publishedDate}}</span>
      </div>
    </div>
    <div class="row row-padding nonPadding clearMargin orgBottomBorder textLeft"
         style="padding-top: 20px !important">
      <div class="row row-padding nonPadding clearMargin textLeft">
        <span class="PhoneBookContactTitle">Categories:</span>
      </div>
      <div class="row row-padding nonPadding clearMargin">
        <span style="margin-left: 5px; display: inline-block"
              class="PhoneBookContactText">{{bookDetails.volumeInfo.categories}}</span>
      </div>
    </div>

  </div>
</div>